extends index 

block content 
    h1=title
    if user != undefined && user.is_admin 
        form#delete-post(method='POST' action='')
            p Are you sure you want to delete this post?
            div
                p Title: !{message.title}
                p Content: !{message.content} 
                p Date Created: !{message.timestamp} 
                p Poster: !{message.user.username}
            button(type='submit') Delete
    else 
        p You are not allowed to delete content. 