extends layout

block content
  div#welcome-container
    if user !== undefined && user.is_member
      h1 Keep it Discreet, #{user.username}
      p Tattletales will be publically shamed.
      button#create-post-btn(onclick='location.href = "/create-post";') Add to the Void
    else  
      h1 Nothing Shady Here
      p Enjoy your visit!
  div#message-container
    for message in messages 
      div.message
        h2.message-title= message.title
        p.message-content!= message.content 
        if user !== undefined && user.is_member
          p.message-date= message.timestamp 
          p.message-user= message.user.username
          if user.is_admin 
            button.delete-post(onclick='location.href = "/delete-post/' + message._id + '"') 
              i.fa-solid.fa-trash
        else 
          p.message-date.redacted Unknown Date
          p.message-user.redacted Unknown User

